<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GamerList{% endblock %}</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
    <!-- Заголовок -->
    <header>
        <nav class="navbar sticky-top bg-body-tertiary">
            <div class="container-fluid d-flex justify-content-between">
                <!-- Логотип -->
                <a class="navbar-brand" href="/">GamerList</a>

                <!-- Строка поиска, если она присутствует на странице -->
                {% block search %}{% endblock %}

                <!-- Кнопки входа/выхода и просмотра профиля -->
                {% if user.is_authenticated %}
                <div>
                    <a href="{% url 'profile' %}" class="btn btn-outline-success">Профиль</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger">Выйти</a>
                </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success">Войти</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <!-- Основной контент -->
    <main>
        <!-- Определяется в расширениях от base.html -->
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>