{% extends 'base.html' %}

{% block title %}GamerList - Список игр{% endblock %}

{% block search %}
    <!-- Строка поиска -->
    <form class="d-flex flex-grow-1 mx-4" role="search" method="get">
        <input class="form-control me-2" type="search" placeholder="Поиск" name="search" {% if request.GET.search %}value="{{ request.GET.search }}"{% endif %}/>

        <!-- Скрытые поля для учета уже примененных фильтров -->
        {% if request.GET.category %}
            <input type="hidden" name="category" value="{{ request.GET.category }}">
        {% endif %}
        {% if request.GET.year %}
            <input type="hidden" name="year" value="{{ request.GET.year }}">
        {% endif %}

        <button class="btn btn-outline-success" type="submit">Найти</button>
    </form>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1 class="my-4">Список игр</h1>

        <!-- Фильтр по категории -->
        <div class="btn-group my-3" role="group">
            <a href="?{% if request.GET.search %}search={{ request.GET.search }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% elif request.GET.year %}year={{ request.GET.year }}{% endif %}" type="button" class="btn {% if not request.GET.category %}btn-secondary{% else %}btn-outline-secondary{% endif %}">Все</a>
            {% for category in categories %}
            <a href="?category={{ category.id }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}" class="btn {% if request.GET.category == category.id|slugify %}btn-secondary{% else %}btn-outline-secondary{% endif %}">{{ category.name }}</a>
            {% endfor %}
        </div>

        <div class="mb-4">
            <!-- Фильтр по году выхода -->
            <form class="d-flex justify-content-center" method="get">
                <!-- Скрытые поля для учета уже примененных фильтров и поиска -->
                {% if request.GET.search %}
                    <input type="hidden" name="search" value="{{ request.GET.search }}">
                {% endif %}
                {% if request.GET.category %}
                    <input type="hidden" name="category" value="{{ request.GET.category }}">
                {% endif %}

                <!-- Выбор года -->
                <label for="year" class="me-2 align-self-center">Фильтр по году релиза:</label>
                <select class="form-select w-auto me-2" id="year" name="year">
                    <option value="" {% if not request.GET.year %}selected{% endif %}>Все годы</option>
                    {% for year in years %}
                    <option value="{{ year }}" {% if request.GET.year == year|slugify %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>

                <button class="btn btn-outline-primary" type="submit">Применить</button>
            </form>

            <!-- Список игр -->
            <div class="row row-cols-3">
                {% for game in games %}
                <div class="col">
                    <div class="card m-2">
                        <!-- Баннер игры -->
                        <img src="{{ game.image }}" class="card-img-top" alt="{{ game.name }}">

                        <!-- Основная информация об игре -->
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>

                            <!-- Описание игры доступно только авторизованному пользователю -->
                            {% if user.is_authenticated %}
                            <p class="card-text">{{ game.description }}</p>
                            {% else %}
                            <p class="card-text">Описание доступно только для зарегистрированных пользователей.</p>
                            {% endif %}
                        </div>

                        <!-- Дополнительная информация об игре -->
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Год релиза: {{ game.release_year }} г.</li>
                            <li class="list-group-item">Категории: {% for category in game.categories.all %}
                                {{ category.name }}{% if category.name != game.categories.last.name %}, {% endif %}
                                {% endfor %}</li>
                        </ul>

                        <!-- Кнопка добавление в избранное (локальный js) -->
                        {% if user.is_authenticated %}
                        <button class="btn btn-outline-primary m-2" id="favourite-{{ game.id }}" onclick="toggle_favourite({{ game.id }})"><i class="bi bi-star"></i> Добавить в избранное</button>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Функция добавления/удаления в избранное (визуальная) -->
    <script type="text/javascript">
        function toggle_favourite(id) {
            const button = document.getElementById(`favourite-${id}`);
            if (button.innerHTML == '<i class="bi bi-star"></i> Добавить в избранное') {
                button.innerHTML = '<i class="bi bi-star-fill"></i> Удалить из избранного';
                button.classList.remove('btn-outline-primary');
                button.classList.add('btn-outline-warning');
            } else {
                button.innerHTML = '<i class="bi bi-star"></i> Добавить в избранное';
                button.classList.remove('btn-outline-warning');
                button.classList.add('btn-outline-primary');
            }
        }
    </script>
{% endblock %}